@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    @if (User.IsInRole("teacher"))
    {
        <a asp-controller="Subject" asp-action="Index">Subjects Manager</a>
        <br />
        <a asp-controller="Topic" asp-action="Index">Topics Manager</a>
        <br />
        <a asp-controller="TestBase" asp-action="Index">Test Manager</a>
    }
    else if (User.IsInRole("student"))
    {
        <a asp-controller="StudentTest" asp-action="Index">Tests Main Menu</a>
    }

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}