@model ForceTestingService.ApplicationCore.DTO.AnswerDto

<h2>Create new Answer for question: "@ViewBag.Question.TaskInfo"</h2>
<form method="post" asp-controller="Answer" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="QuestionId" type="hidden" value="@ViewBag.Question.Id"/>
    </div>
    <div>
        <label asp-for="Text"></label><br />
        <input asp-for="Text" />
        <span asp-validation-for="Text"></span>
    </div>
    <div>
        <label asp-for="IsCorrect"></label>
        <input asp-for="IsCorrect" />
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>